<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='fruk.css', v=1)}}" type="text/css">
</head>
<body>


            <form method="POST">
                <div>
                    <input type="text"
                    
                    id="login"
                    name="login"
                    placeholder="Логин">
                    <input
      
                    id="password"
                    name="password"
                    placeholder="Пароль">
                </div>
                <button type="submit" class="knopka1" >Вход</button>
            </form>

        
    
</body>
</html>