{% extends "base.html" %}
{% block content %}
<body>
    <!-- Основной контент -->
    <div class="container">
        <!-- Главная страница (по умолчанию скрыта) -->
         
        <div id="home" class="page-content" >
            <h1 class="page-title">Школьная столовая</h1>
            <div class="content">
                <p>Добро пожаловать в нашу школьную столовую! Здесь вы можете ознакомиться с меню, сделать заказ и просмотреть историю ваших заказов.</p>
                <p>Мы предлагаем вкусное и полезное питание для школьников, приготовленное из свежих продуктов с учетом всех санитарных норм.</p>
                <a href="/signup">регистрация</a>
                <a href="/login">вход</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
